.all-whale-page{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.whalecard-name {
  text-align: center;
  // text-transform: uppercase;
  margin-bottom: 20px;
  font-family: $heading-font;
  color: $dark-blue;
}

.whale-card:hover {
  opacity: 0.4;
}

.all-whales-container {
  // background-color: red;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}

.whaleimg-box {
  height: 250px;
  width: 250px;
  align-items: center;
}

.whalecard-img {
  max-height: 100%;
  max-width: 100%;
  transition: border-radius 0.5s ease-out;
}

.whalecard-img:hover {
  border-radius: 50%;
  transition: 0.5s;
}

.whale-card {
  display: flex;
  justify-content: center;
}

.search {
  margin-top: 70px;
}

.search > input {
  width: 50vw;
  background-color: $grey-blue;
  opacity: 0.5;
}

input::placeholder {
  color: $darkest-blue;
}
