.form-page {
  display: flex;
  justify-content: center;
}

.form-header {
  font-family: $heading-font;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-size: 4em;
  color: $dark-blue;
}

form {
  background-color: pink;
  align-items: center;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px $dark-blue;
  background-color: $grey-blue;
}

.signup-form{
  height: 800px;
}

.formfield, button {
  width: 70%;
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0px 0px 0px;
  color: $darkest-blue;
}

input {
  height: 40px;
  border: none;
  padding: 5px;
  margin: 15px 0px 15px 0px;
  background-color: $light-blue;
}

.form-button {
  height: 70px;  
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: $darkest-blue;
  color: $light-blue;
  transition: opacity 1s ease-out;
}

.form-button:hover {
  opacity: 0.8;
  transition: 0.5s;
}


