.form-page {
  display: flex;
  justify-content: center;
}

.form-header {
  font-family: $heading-font;
  text-align: center;
  padding-bottom: 30px;
  font-size: 3.5em;
  color: $dark-blue;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px 100px 0px;
}

form {
  background-color: pink;
  align-items: center;
  display: flex;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px $dark-blue;
  background-color: $grey-blue;
}

.blog-form-container {
  margin: 300px 0px;
}

.login-form {
  height: 600px;
}

.login-form-container {
  margin-top: 50px;
}

.signup-form {
  height: 840px;
  overflow-y: scroll;
}

.blog-form {
  height: 1200px;
}

// .signup-form-header {
  // margin-top: 80px;
// }

.formfield, button {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin: 5px 0px 0px 0px;
  color: $darkest-blue;
}

input, textarea {
  border-radius: none;
  height: 40px;
  border: none;
  padding: 5px;
  margin: 15px 0px 0px 0px;
  background-color: $light-blue;
}

textarea {
  height: 100px;
}

.form-button {
  height: 70px;  
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
  border: none;
  background-color: $darkest-blue;
  color: $light-blue;
  transition: opacity 1s ease-out;
  cursor: url('./images/whale-cursor-2.png') 10 3, pointer;
}

.form-button:hover, .upload-image:hover {
  opacity: 0.8;
  transition: 0.5s;
  cursor: url('./images/whale-cursor-2.png') 10 3, pointer;
}

.errors {
  font-size: .8em;
  color: rgb(126, 0, 34);
  font-style: italic;
}

// input[type="file"] {
//   background-color: red;
// }

::-webkit-file-upload-button {
  display: none;
}

.upload-image {
  cursor: url('./images/whale-cursor-2.png') 10 3, pointer;
  border-radius: 0.8em;
}