.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: yellow;
  height: calc(100vh - 80px);
  // height: 65vh; --> for when the waves are added in
}

.home-image {
  height: 600px;
  width: 600px;
  background-image: url(./images/whaleshome.PNG);
  background-size: cover;
  object-fit: contain;
  // background-color: pink;
}