.home-waves {
  position: relative;
  justify-content: center;
  display: flex;
}

.homepage-container {
  position: absolute;
}

.home-image {
  height: 600px;
  width: 600px;
  background-image: url(./images/whale-home-2.png);
  background-size: cover;
  margin-top: 50px;
  // animation: shift 10s infinite;
}

// @keyframes shift {
//   0% {
//     transform: rotate(0deg);
//   }
//   50% {
//     transform: rotate(2deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }