$heading-font: 'Lobster', cursive;
$body-font: 'Oswald', sans-serif;
$grey-blue: #8ba6bd;
$blog-blue: #5c748a;
$light-blue: #e7f4ff;
$dark-blue: #1c507c;
$darkest-blue: #082238;

@import './animations.css';
@import './nav.scss';
@import './waves.css';
@import './home.scss';
@import './form.scss';
@import './allwhales.scss';
@import './allblogs.scss';
@import './singlewhale.scss';
@import './singleblog.scss';


* {
  font-family: $body-font;
  letter-spacing: 2px;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  // cursor: url('./images/whalecursor.png') 10 3, pointer;
}

body {
  background-color: whitesmoke;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.light {
  color: $grey-blue;
}

li, h1 {
  cursor: pointer;
}

.loading {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-top: 300px;
}

.loading-img {
  height: 100%;
  width: auto;
  background-image: url('./images/fishloading.png');
  object-fit: fill;
  background-size: cover;
  animation: spin 13s infinite;
}

