$heading-font: 'Lobster', cursive;
$body-font: 'Oswald', sans-serif;
$grey-blue: #8ba6bd;
$light-blue: #e7f4ff;
$dark-blue: #1c507c;
$darkest-blue: #082238;

@import './nav.scss';
@import './allwhales.scss';
@import './form.scss';
@import './animations.css';
@import './home.scss';
@import './singlewhale.scss';
@import './waves.css';

* {
  font-family: $body-font;
  letter-spacing: 2px;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  // cursor: url('./images/whalecursor.png') 10 3, pointer;
}

body {
  background-color: whitesmoke;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.light {
  color: $grey-blue;
}

li, h1 {
  cursor: pointer;
}