@media only screen and (max-width: 850px) {

  .all-whales-container {
    max-width: 100vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .single-whale-container {
    margin-top: 140px;
  }

  .whaleimg-box {
    height: 200px;
    width: 200px;
  }

  .whalecard-name {
    font-size: 1em;
  }

  .single-blog-page {
    margin: 0px 70px;
  }

  .form {
    width: 500px;
  }

  .form-header {
    font-size: 3em;
  }

  .login-form {
    height: 400px;
  }

  .login-form-container {
    margin-top: -20px;
  }

  .blog-form-container {
    margin-top: 25vh;
  }

  .img-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    margin-top: -30px;
    margin-bottom: 50px;
  }

  .single-whale-img {
    height: 60vh;
    width: auto;
    margin: 30px 0px;
  }

  .whale-info-container {
    width: 100%;
  }

  .info {
    margin: 20px;
  }

  .status_des {
    margin: 0;
  }

  .status {
    margin-bottom: 5px;
  }

  .whale-description-container {
    padding: 20px;
  }

  .single-whale-title {
    text-align: center;
    margin-bottom: 70px;
  }


}

@media only screen and (max-width: 610px) {

  .navbar-content {
    flex-direction: column;
    overflow: auto;
  }

  .thewhalebase-header {
    font-size: 2em;
    margin-bottom: 5px;
  }

  .navlinks {
    font-size: 0.8em;
  }

  .home-image {
    height: 380px;
    width: 380px;
}

  .whaleimg-box {
    height: 100px;
    width: 100px;
}

  .whalecard-name {
    font-size: 0.8em;
  }

  .all-whales-container {
    margin-top: 20px;
  }

  .page-links {
    position: absolute;
    // width: 100%;
    // height: auto;
    // display: flex;
    // justify-content: center;
    margin-top: 6vh;
  }

  .single-blog-page {
    margin: 0px 40px;
  }

  .form {
    width: 80vw;
    margin: 0;
  }

  .form-header {
    font-size: 2em;
  }
  
  .login-form-container {
    margin-top: 20px;
  }
    
  .signup-form-container {
    margin-top: 40px;
  }

  .blog-container {
    margin-top: 60vh;
  }


  .single-whale-img {
    height: 40vh;
  }

  .single-whale-container {
    margin-top: 80px;
  }

  .name {
    font-size: 2em;
  }

}