.navbar-container {
  height: 60px;
  display: flex;
  justify-content: center;
}

.navbar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.page-links {
  display: flex;
}

.navlinks {
  margin: 8px;
  list-style-type: none;
  color: $dark-blue;
}

.thewhalebase-header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  color: $grey-blue;
}

.thewhalebase-container {
  position: absolute;
}