.whalecard {
  // background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.whale-info-container {
  // background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.info {
  margin: 50px 0px;  
  width: 100%;
}

.status {
  margin-bottom: 0;
}

.status_des {
  margin: 0;
  color: $blog-blue;
}

.whale-description-container {
  // background-color: red;
  padding: 5vh 20vw;
}

.single-whale-title {
  font-family: $heading-font;
  font-size: 3em;
  margin: 50px 0px 40px 0px;
  color: $darkest-blue;
}

.img-info {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin-top: -100px;

}

.single-whale-img {
  width: 50%;
  height: auto;
  margin-right: 50px;
}

.whalename {
  // background-color: purple;
  text-align: center;
}

.name {
  font-size: 4em;
  font-family: $heading-font;
}

.single-whale-info {
  text-align: justify;
}